{% extends 'admin_base.html' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <a href="/admin/room/add" class="btn btn-success">
                添加放映厅
            </a>
            <form method="get" action="" class="navbar-form" style="display: inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入搜索关键字" name="q" value="{{ q }}">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <div style="display: inline; margin-left: 10px">
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio1" value="id"> 放映厅ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio2" value="name"> 放映厅名称
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio3" value="tname"> 所属影城
                    </label>
                </div>
            </form>
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 放映厅列表
                </div>
                <div class="panel-body">
                    <p>
                        放映厅信息
                    </p>
                </div>

                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>容纳人数</th>
                        <th>简介</th>
                        <th>所属影院</th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objs %}
                        <tr>
                            <th scope="row" style="text-align: center">{{ obj.rid }}</th>
                            <td>{{ obj.rname }}</td>
                            <td>{{ obj.rsize }}</td>
                            <td>{{ obj.rinfo }}</td>
                            <td>{{ obj.tid.tname }}</td>
                            <td>
                                <a href="/admin/room/{{ obj.rid }}/edit/" class="btn btn-primary">编辑</a>
                                <a href="/admin/room/{{ obj.rid }}/delete/" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="text-center">
            {{ html }}
        </div>


    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $('th').addClass("text-center");
        $('td').addClass("text-center");
        if ({{ c }} == 1
        )
        {
            $('#inlineRadio1').prop('checked', true);
        }
        else
        if ({{ c }} == 2
        )
        {
            $('#inlineRadio2').prop('checked', true);
        }
        else
        if ({{ c }} == 3
        )
        {
            $('#inlineRadio3').prop('checked', true);
        }
        else
        if ({{ c }} == 4
        )
        {
            $('#inlineRadio4').prop('checked', true);
        }

    </script>
{% endblock %}