{% extends 'admin_base.html' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <a href="/admin/movie/add" class="btn btn-success">
                添加电影
            </a>
            <form method="get" action="" class="navbar-form" style="display: inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入搜索关键字" name="q" value="{{ q }}">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <div style="display: inline; margin-left: 10px">
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio1" value="id"> 电影ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio2" value="name"> 电影名称
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio3" value="type"> 电影类型
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio4" value="star"> 主演
                    </label>
{#                    <label class="radio-inline">#}
{#                        <input type="radio" name="query_info" id="inlineRadio3" value="create_id"> 评分#}
{#                    </label>#}
                </div>
            </form>
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 电影列表
                </div>
                <div class="panel-body">
                    <p>
                        电影信息
                    </p>
                </div>

                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>时长</th>
                        <th>主演</th>
                        <th>地区</th>
                        <th>上映信息</th>
                        <th>评分</th>
                        <th>图片</th>
                        <th>简介</th>
                        <th>电影状态</th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objs %}
                        <tr>
                            <th scope="row" style="text-align: center">{{ obj.mid }}</th>
                            <td>{{ obj.mname }}</td>
                            <td>{{ obj.get_mtype_display }}</td>
                            <td>{{ obj.mlength }} 分钟</td>
                            <td>{{ obj.mstar }}</td>
                            <td>{{ obj.mloc }}</td>
                            <td>{{ obj.mon_info }}</td>
                            <td>{{ obj.mremark }}</td>
                            <td>
                                <img src="/media/{{ obj.mimg }}" style="height: 8vh">
                            </td>
                            <td>{{ obj.minfo }}</td>
                            <td>{{ obj.get_mstatus_display }}</td>
                            <td>
                                <a href="/admin/movie/{{ obj.mid }}/edit/" class="btn btn-primary">编辑</a>
                                <a href="/admin/movie/{{ obj.mid }}/delete/" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="text-center">
            {{ html }}
        </div>


    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $('th').addClass("text-center");
        $('td').addClass("text-center");
        if ({{ c }} == 1
        )
        {
            $('#inlineRadio1').prop('checked', true);
        }
        else
        if ({{ c }} == 2
        )
        {
            $('#inlineRadio2').prop('checked', true);
        }
        else
        if ({{ c }} == 3
        )
        {
            $('#inlineRadio3').prop('checked', true);
        }
        else
        if ({{ c }} == 4
        )
        {
            $('#inlineRadio4').prop('checked', true);
        }

    </script>
{% endblock %}