{% extends 'admin_base.html' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <a href="/admin/add" class="btn btn-success">
                新建管理员
            </a>
            <form method="get" action="" class="navbar-form" style="display: inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入搜索关键字" name="q" value="{{ q }}">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <div style="display: inline; margin-left: 10px">
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio1" value="id"> 管理员ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio2" value="name"> 用户名
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio3" value="create_id"> 授予人ID
                    </label>
                </div>
            </form>
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 用户列表
                </div>
                <div class="panel-body">
                    <p>
                        管理员用户信息
                    </p>
                </div>

                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>管理员ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>授予人ID</th>
                        <th>授予人用户名</th>
                        <th>授予时间</th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in users %}
                        <tr>
                            <th scope="row" style="text-align: center">{{ obj.aid }}</th>
                            <td>{{ obj.aname }}</td>
                            <td>{{ obj.apwd | striptags | slice:"5" | add:"****" }}</td>
                            <td>{{ obj.acreate.aid }}</td>
                            <td>{{ obj.acreate.aname }}</td>
                            <td>{{ obj.acreate_time|date:"Y年m月d日 H:i:s" }}</td>
                            <td>
                                <a href="/admin/{{ obj.aid }}/edit/" class="btn btn-primary">编辑</a>
                                <a href="/admin/{{ obj.aid }}/delete/" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="text-center">
            {{ html }}
        </div>


    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $('th').addClass("text-center");
        $('td').addClass("text-center");
        if ({{ c }} == 1
        )
        {
            $('#inlineRadio1').prop('checked', true);
        }
        else
        if ({{ c }} == 2
        )
        {
            $('#inlineRadio2').prop('checked', true);
        }
        else
        if ({{ c }} == 3
        )
        {
            $('#inlineRadio3').prop('checked', true);
        }

    </script>
{% endblock %}