{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <form method="get" action="" class="navbar-form" style="display: inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入搜索关键字" name="q" value="{{ q }}">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <div style="display: inline; margin-left: 10px">
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio1" value="id"> 影院ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio2" value="name"> 影院名称
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="query_info" id="inlineRadio3" value="location"> 影院名称
                    </label>
                </div>
            </form>
        </div>


        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    {#                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 电影院列表#}

                    <h1>{{ movie.mname }}</h1>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="/media/{{ movie.mimg }}" style="height: 220px; width: 160px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Top aligned media</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                in faucibus.</p>
                            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        电影院信息
                    </p>
                </div>

                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>地理位置</th>
                        <th>价位</th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objs %}
                        <tr>
                            <td>{{ obj.tname }}</td>
                            <td>{{ obj.tlocation }}</td>
                            <td>
                                <span style="color: #de7f1f; font-size: 20px">{{ obj.min_price }}</span>
                                <span style="color: #de7f1f">元</span>
                                <span>起</span>
                            </td>
                            <td>
                                <a href="/select/detail/?tid={{ obj.tid }}&mid={{ movie.mid }}" class="btn btn-danger btn-block">选择</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="text-center">
            {{ html }}
        </div>


    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $('th').addClass("text-center");
        $('td').addClass("text-center");
        if ({{ c }} == 1
        )
        {
            $('#inlineRadio1').prop('checked', true);
        }
        else
        if ({{ c }} == 2
        )
        {
            $('#inlineRadio2').prop('checked', true);
        }
        else
        if ({{ c }} == 3
        )
        {
            $('#inlineRadio3').prop('checked', true);
        }

    </script>
{% endblock %}